{% block content %}
<form method="POST">{% csrf_token %}
<div>
<p style=font-size:13px;>
<br/>
<br/>
회원가입 페이지 입니다.<br/>
아래의 정보를 모두 빠짐없이 정확하게 입력하여 주세요<br/>
<br/>
로그인 시 "이메일" 주소를 기반으로 로그인 합니다.<br/> 
"이메일" 주소와 "패스워드"를 정확하게 입력하여 주세요<br/>
</p>
<br/>
<br/>
<br/>
<div>
<!--{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}-->

<!--{{ form.as_p }}-->
아이디 | {{ form.username }}<br/>
<br/>
한국(성) | {{ form.koreanLastname }}      한국(이름) | {{ form.koreanFirstname }}<br/>      
<br/>
영문(이름) | {{ form.englishLastname }}      영문(성) | {{ form.englishFirstname }}<br/>
<br/>
<strong>이메일</strong> | {{ form.email }}      <strong>패스워드</strong> | {{ form.password }}<br/>
<br/>
주소 | {{ form.address }}      상세주소 | {{ form.detailAddress }}<br/>
<br/>
핸드폰번호 | {{ form.phoneNumber }}<br/>
<br/>
<br/>
<br/>
<!--<a class="btn btn-lg btn-info" href="{% url 'registrationSuccess' %}">가입하기</a>-->
<input type="submit" value="가입하기">
{% endblock %}
<br/>
<br/>
<div>
<br/>
<br/>
</div>


