<form action="" method="post">
{% block content %}
<br/>
*_결제 및 예약정보 확인
<br/>
<br/>
<br/>
출발지 | {{ courses.starting_point }}<br/>     
도착지 | {{ courses.arrival }}<br/>     
비행시간 | {{ courses.flight_time | date:'H 시간 i 분' }}<br/>     
가는날 | {{ courses.daytogo | date:'Y년 m월 d일' }}<br/>    
오는날 | {{ courses.comingDay | date:'Y년 m월 d일' }}<br/>
<br/>
<br/>
<ul style="text-decoration:none; list-style:none; margin-left:-30px">
<li style="float:left"><input type="submit" , name="payment", value="결제하기"></li>
<li><input type="submit" , name="eticket", value="E-티켓발송"></li>
</ul>
{% endblock %}

