{% block content %}
<form action="/revstart/schedule/" method="get">


<!--
starting_point = forms.ChoiceField(label='출발지', choices=STARTINGPOINT)
    arrival = forms.ChoiceField(label='도착지', choices=ARRIVAL)
    ranking = forms.ChoiceField(label='좌석등급', choices=RANKING)
    daytogo = forms.DateField(label='가는날')
    comingDay = forms.DateField(label='오는날')
-->

{% csrf_token %}
<div>
항공권 예매 페이지 입니다.<br/>
구간별 검색이 가능합니다.<br/>
비수기에는 성수기보다 10% 가격 할인으로 제공되며 성수기에는 평소보다 10% 인상된 기격으로 제공됩니다.<br/>
<br/>
<br/>
<br/>
<div>
가는날 | {{ form.daytogo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;오는날 | {{ form.comingDay }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;출발지 | {{ form.starting_point }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;도착지 | {{ form.arrival }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;좌석등급 | {{ form.ranking }}
{% endblock %}
<br/>
<br/>
<div>
<br/>
<br/>
<input type="submit" , value="항공권 조회하기">
</div>


